.informational {
  width: max-content;
  margin: auto;
  margin-top: 10rem;

  text-align: center;
}

.title {
  margin: 0;

  font-size: 4rem;
  font-family: monospace;
  text-align: center;

  span:nth-of-type(1) {
    color: var(--color-accent);
  }

  span:nth-of-type(2) {
    color: var(--color-accent-secondary);
  }
}

.description {
  font-size: 2rem;
}

.navigation {
  width: 95%;
  max-width: 400px;

  margin: auto;
  margin-top: 10rem;
  padding: 1rem;

  background: var(--color-surface);

  border: 1px solid var(--color-text);

  font-family: monospace;
}

.navigation-heading {
  margin: 0;
}

.navigation-item {
  display: block;

  margin: 2rem 0;
  padding: 0;

  font-size: 1.25rem;
  text-decoration: none;

  &:hover {
    .navigation-carrot {
      opacity: 1;
    }

    .navigation-text {
      border-color: var(--color-accent-secondary);
    }
  }
}

.navigation-carrot {
  font-weight: 900;
  font-size: 1rem;

  color: var(--color-accent-secondary);

  opacity: 0;

  transition: opacity 250ms ease-in-out;
}

.navigation-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  transition: border-color 250ms ease-in-out;
}
